/* https://piccalil.li/blog/a-modern-css-reset/ */
/* https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*abstracts*/
.logo-path {
  transition: all 0.3s ease-out;
}

.button, body {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

.promo__text, .link-button, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

/*base*/
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: normal;
  font-style: bold;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  font-style: bold;
}

h2 {
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  font-style: bold;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  font-style: bold;
}

h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  font-style: bold;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  font-style: bold;
}

.button {
  padding: 11px 25px 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}
.button_bordered {
  background: #ffffff;
  border: 1px solid #d7d7d7;
  color: #544837;
}
.button_bordered:hover {
  background: #bcd0e5;
  border-color: #bcd0e5;
}
.button_colored {
  background: #ff9900;
  color: #ffffff;
  border: 1px solid #ff9900;
}
.button_colored:hover {
  background: #ff7549;
  border-color: #ff7549;
}

.link-button {
  color: #ff9900;
  display: inline-flex;
  align-items: center;
}
.link-button:hover {
  color: #ff7549;
}

.link-button__text {
  font-weight: 600;
  margin-left: 9px;
}

.logo-svg:hover .logo-path {
  fill: #ff9900;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-square_purple {
  background-color: #7752be;
}
.icon-square_orange {
  background-color: #fab005;
}
.icon-square_red {
  background-color: #f03e3d;
}
.icon-square_blue {
  background-color: #4dadf7;
}

.ico_play {
  background-image: url(../../img/icons/play.svg);
  width: 18px;
  height: 19px;
}
.ico_play:hover {
  background-image: url(../../img/icons/play-hover.svg);
}

.ico_arrow {
  background-image: url(../../img/icons/arrow.svg);
  width: 12px;
  height: 17px;
}

.ico_snake {
  background-image: url(../../img/icons/snake.svg);
  width: 18px;
  height: 14px;
}

.ico_heart {
  background-image: url(../../img/icons/heart.svg);
  width: 17px;
  height: 15px;
}

.ico_sandclock {
  background-image: url(../../img/icons/sandclock.svg);
  width: 15px;
  height: 17px;
}

.tags {
  display: flex;
}
.tags > * {
  margin-right: 7px;
}

.tag {
  padding: 0 14px;
  border-radius: 90px;
  font-size: 1.3rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-style: normal;
}
.tag_bordered {
  border: 1px solid #d7d7d7;
}
.tag_selected {
  background-color: #ff9900;
  color: #ffffff;
}
.tag_colored {
  background-color: #f5f5f5;
}

/*layauts*/
.wrapper {
  max-width: 1197px;
  margin: 0 auto;
}

.header {
  padding: 15px 0 17px 0;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0509803922);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons > .button {
  margin-left: 14px;
}

.header__buttons > .button:first-child {
  margin-left: 0;
}

.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.navigation__link {
  list-style: none;
  padding: 0 10px;
  cursor: pointer;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 21%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 45%;
}

/*components*/
.contact-us {
  background-color: #ffeee1;
}

.promo {
  padding: 30px 0;
}
.promo__wrapper {
  display: flex;
  align-items: center;
}
.promo__content {
  padding-right: 65px;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__text {
  max-width: 487px;
  margin: 0 0 45px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: normal;
  font-style: bold;
}

.promo__buttons > * {
  margin-right: 44px;
}

.tools__wrapper {
  padding-bottom: 90px;
  background-image: url(../../img/backgrounds/tools-bg.svg);
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tools__title {
  max-width: 462px;
  margin: 0 auto 70px;
  text-align: center;
}

.tools__button {
  text-align: center;
  margin-top: 60px;
}

.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin-bottom: 16px;
}

.strategies {
  padding: 30px 0;
}

.strategies__title {
  margin-bottom: 14px;
}

.strategies__description {
  margin-bottom: 24px;
}

.strategies__tags {
  margin-bottom: 31px;
}

/*# sourceMappingURL=style.css.map */
