.strategies {
    padding: 30px 0;
}

.strategies__title {
    margin-bottom: 14px;
}

.strategies__description {
    margin-bottom: 24px;
}

.strategies__tags {
    margin-bottom: 31px;
}

//Strategy
.strategy__wrapper {
    > * {
        margin-bottom: 30px;

        @include media-tablet {
            flex-basis: 48%;
        }
    }
}

.strategy {
    display: flex;
    flex-direction: column;

    @include media-tablet {
        overflow: hidden;
    }
}

.strategy__content {
    padding: 24px 33px 26px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.strategy__name {
    flex-grow: 1;
    margin-bottom: 29px;
    text-align: left;
}
