.strategies {
    padding: 30px 0;
}

.strategies__title {
    margin-bottom: 14px;
}

.strategies__description {
    margin-bottom: 24px;
}

.strategies__tags {
    margin-bottom: 31px;
}

.strategy__layout {
    > * {
        margin-bottom: 30px;
    }
}

.strategy__content {
    padding: 24px 33px 26px;
}

.strategy__name {
    margin-bottom: 29px;
}
