@mixin font($size, $height, $weight: 700, $style: bold) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;
}

@mixin columns($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //all child elements
    > * {
        flex-basis: $width;
    }
}

// $content-width: 1197px;
// $tablet-width: 768px;
// $mobile-big-width: 414px;
// $mobile-small-width: 320px;

@mixin media-laptop {
    @media (max-width: $content-width) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) {
        @content;
    }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) {
        @content;
    }
}
