%transition {
    transition: all 0.3s ease-out;
}

%font-primary {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

%font-add {
    font-family: 'Poppins', Verdana, sans-serif;
}
