.ico {
    cursor: pointer;
    display: inline-block;
}

.ico_play {
    background-image: url(../../img/icons/play.svg);
    width: 18px;
    height: 19px;

    &:hover {
        background-image: url(../../img/icons/play-hover.svg);
    }
}
